# Compiled Python
*.pyc

# SCons
.sconf_temp
.sconsign.dblite

# Build byproducts
/build
/config.log
/package*.txt
/fah/FAHControl_glade.py
fah/#FAHControl.glade#
/fah/Version.py
/FAHControl.egg-info
/deb_dist
/dist
/version.txt
/FAHControl*.tar.gz
/fahcontrol*.pkg

# Temporary files
*~

.eggs/
venv/
